.container {
  background: rgb(35, 187, 253);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 10px;
  width: 80%;
}

.pageTitle {
  margin-top: 0;
  margin-bottom: 20px;
}
